/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Reset
*  2.0 - Fonts
*  3.0 - Color Palette
*  4.0 - Body
*    4.1 - Navigation
*    4.2 - Header Content
*  5.0 - Main
*  6.0 - Footer
*  7.0 - Media Queries
*/

/*** 1.0 - Reset ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

/*** 2.0 - Fonts ***/
body {
  font-family: 'Overpass', sans-serif;
}

nav,
button {
  font-family: 'Ubuntu', sans-serif;
}

/*** 3.0 - Color Palette ***/
:root {
  /* CTA text */
  --primary-light-red: hsl(356, 100%, 66%);
  /* CTA hover backgrund */
  --primary-very-light-red: hsl(355, 100%, 74%);
  /* Headings */
  --primary-very-dark-blue: hsl(208, 49%, 24%);
  /* Footer text */
  --neutral-grayish-blue: hsl(240, 2%, 79%);
  /* Body copy */
  --neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
  /* Footer background */
  --neutral-very-dark-black-blue: hsl(240, 10%, 16%);
}

/*** 4.0 - Body ***/
body {
  font-size: 1rem;
  color: white;
  background-color: #fafafa;
}

/*** 4.1 - Navigation ***/
nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: 0 10vw;
}

.logo {
  margin-right: 2em;
}

.nav-wrapper {
  flex: 1 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper button {
  margin: 0 1em;
}

.nav-wrapper button:last-child {
  margin-right: 0em;
}

.nav-wrapper button::after {
  content: url(./images/icon-arrow-light.svg);
  margin-left: 0.3em;
}

.nav-wrapper ul {
  display: none;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.signup-btn {
  margin-right: 0;
  padding: 0.8em 2.5em;
  background-color: white;
  color: var(--primary-light-red);
  border-radius: 25px;
  font-weight: 700;
}

.signup-btn::after {
  display: none;
}

.signup-btn:hover,
.start-for-free-btn:hover {
  color: white;
  background-color: var(--primary-very-light-red);
}

/*** 4.2 - Header Content ***/
header {
  padding-top: 3em;
  background: url(./images/bg-pattern-intro.svg) no-repeat top -1360px
      left -435px,
    linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-radius: 0 0 0 100px;
}

header > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 9.5em 0;
}

h1 {
  font-size: 4rem;
}

header p {
  font-size: 1.35rem;
  margin-top: 0.5em;
}

.header-btn {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.start-for-free-btn,
.learn-more-btn {
  margin: 0 1em;
  padding: 0.8em 1.5em;
  border-radius: 25px;
  font-weight: 700;
}

.start-for-free-btn {
  padding: 0.8em 1em;
  background-color: white;
  color: var(--primary-light-red);
}

.learn-more-btn {
  border: 1px solid white;
}

.learn-more-btn:hover {
  color: var(--primary-very-light-red);
  background-color: white;
}

/*** 5.0 - Main ***/
main p {
  padding: 2em 4.6em 5em 0;
  line-height: 1.75rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  color: var(--primary-very-dark-blue);
}

.text-wrapper {
  margin: 0 10vw;
}

.text-wrapper article {
  max-width: 50%;
}

.section-1 {
  padding: 10em 0;
  background: url(./images/illustration-editor-desktop.svg) no-repeat
    center right -16.5em;
}

.section-1 .text-wrapper {
  display: flex;
  flex-direction: column;
}

.section-1 h2 {
  text-align: center;
  color: var(--primary-very-dark-blue);
  margin-bottom: 3em;
}

.section-1 p,
.section-3 p {
  color: var(--neutral-very-dark-grayish-blue);
}

.section-2 {
  padding: 6em 0 1em 0;
  background: url(./images/bg-pattern-circles.svg) no-repeat top -520px
      left -230px,
    linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-radius: 0 100px;
  position: relative;
}

.phones {
  z-index: 1;
  position: absolute;
  top: -70px;
  left: 100px;
}

.section-2 .text-wrapper,
.section-3 .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section-2 .text-wrapper > * {
  z-index: 2;
}

.section-2 h2 {
  width: 50%;
}

.section-3 {
  padding: 17em 0 10em 0;
  background: url(./images/illustration-laptop-desktop.svg) no-repeat
    center left -16.5em;
}

.section-3 .text-wrapper {
  padding-top: 6em;
}

/*** 6.0 - Footer ***/
footer {
  padding-top: 5em;
  background-color: var(--neutral-very-dark-black-blue);
  color: var(--neutral-grayish-blue);
  border-radius: 0 100px 0 0;
}

footer .logo {
  margin-right: 0;
}

.site-links {
  margin: 0 10vw 2.5em 10vw;
  display: flex;
}

.footer-list-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.footer-list li:first-child {
  font-weight: 600;
  color: white;
  padding-bottom: 1.75em;
}

.footer-list li:not(:first-child) {
  margin: 1em 0;
  cursor: pointer;
}

.footer-list li:hover:not(:first-child) {
  text-decoration: underline;
}

.attribution {
  text-align: center;
  padding-bottom: 1.5em;
}
.attribution a {
  color: inherit;
}

.attribution a:hover {
  color: white;
}

/*** 7.0 - Media Queries ***/
